.register {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 8px;
  padding: 4px;
  border: 3px solid rgb(54, 23, 194);
}

#radio {
  border: 1px solid rgb(0, 0, 0);
  display: -webkit-inline-box;
  flex-wrap: wrap;
  width: 250px;

}
#button {
  background-color: royalblue;
  color: whitesmoke;
  height: 50px;
  width: 250px;
  margin-left: 158px;
  margin-top: 50px;
}

input {
  display: flex;
  padding: 4px;
  margin: 6px;
  height: 35px;
  width: 230px;
}

label {
  margin: 8px;
  padding: 4px;
}

#male{
  height: 25px;
  width: 25px;
}

#female{
  height: 25px;
  width: 25px;

}