 .register{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  margin: 8px;
  padding: 4px;
  border: 3px solid rgb(54, 23, 194);
}

.radio{
  border: 1px solid rgb(54, 23, 194);
  width: 180px;
  display: flex;
  flex-wrap: wrap;

}

input {
  display: flex;
  padding: 4px;
  margin: 6px;
}

label{
    margin: 8px;
    padding: 4px;

}

#radio{
  border: 3px solid rgb(54, 23, 194);

}

.success {
  height: 60px;
  width: 300px;
  background-color: rgba(163, 207, 163, 0.692);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 18px;
  margin-bottom: 10px;
}
.fail {
  height: 60px;
  width: 300px;
  background-color: rgb(252, 165, 165);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(136, 63, 63);
  font-size: 18px;
  margin-bottom: 10px;
}