.successMessage {
    height: 60px;
    width: 450px;
    background-color: rgba(163, 207, 163, 0.692);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .failMessage {
    height: 60px;
    width: 450px;
    background-color: rgb(252, 165, 165);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(136, 63, 63);
    font-size: 18px;
    margin-bottom: 10px;
  }
