.apps {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.appointments {
  /* border: solid blue; */
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  align-content: center;
  padding-left: 50px;
  padding-right: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #d7d9d6;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
