
.delete:hover{
    transition: 0.25s ease transform;
    transform: scale(1.2);
    cursor: pointer;
    background-color: rgb(197, 0, 0);
    color: white;
}
.delete{
    position: relative;
}

.appointment{
    border: black solid 1px;
    display: flex;
    justify-content: space-around;
    align-content: center;
   width: 100%;
   min-height: 15%;
    row-gap:50px;
    align-content: center;
    background-color: #0d43735d;
    border-radius: 5px;
}
.appointment>span{
position: relative;
padding-top: 20px;
font-weight: bold;
font-size: 18px;

}
