.doctors {
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-content: left; */
  justify-content: center;
  width: 78%;
  column-gap: 25px;
  row-gap: 10px;
  border-radius: 10px;
  margin-left: 20px;
  background-color: #bfc7d9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.createDoc {
  width: 80px;
  background-color: #5195c070;
  border-radius: 8px;
  height: 35px;
  position: absolute;
  top: 600px;
  right: 20px;
  font-weight: bold;
  
}
.doc {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
h4 {
  display: table;
  font-size: 0.75em;
  box-sizing: border-box;
  font-weight: bold;
  border: black solid 2px;
  width: 400px;
  height: 20px;
  padding: 11px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #0d43735d;
}
