.navigation {
  /* border: yellow solid 4px; */
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #d7d9d6;
  
}
.link:hover {
    background-color: #d7d9d6;
    background-color: #bfc7d9;
    cursor: pointer;
    border: outset 0.5px;
    border-radius: 10px;
    transition: ease 0.25s transform;
    transform: translateX(7px);
}
.link:active {
  transition: ease 0.1s transform;
  transform: translateY(1.5px);
}